absl-py==0.9.0
altgraph==0.17
appdirs==1.4.4
astor==0.8.1
astunparse==1.6.3
attrs==19.3.0
auto-py-to-exe==2.6.6
backcall==0.1.0
beautifulsoup4==4.8.2
bleach==3.1.4
bottle==0.12.18
bottle-websocket==0.2.9
cachetools==4.1.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.2
clipboard==0.0.4
cloudpickle==1.3.0
colorama==0.4.3
cssselect==1.1.0
cx-Freeze==6.1
cycler==0.10.0
Cython==0.29.16
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.1.1
distlib==0.3.0
easydict==1.9
Eel==0.11.0
entrypoints==0.3
feedfinder2==0.0.4
feedparser==5.2.1
ffprobe==0.5
filelock==3.0.12
fire==0.3.1
Flask==1.1.2
future==0.18.2
gast==0.2.2
gevent==1.5.0
gevent-websocket==0.10.1
google-api-core==1.17.0
google-auth==1.14.1
google-auth-oauthlib==0.4.1
google-cloud-core==1.3.0
google-cloud-storage==1.28.0
google-pasta==0.2.0
google-resumable-media==0.5.0
googleapis-common-protos==1.51.0
graphviz==0.13.2
greenlet==0.4.15
grpcio==1.28.1
h5py==2.10.0
idna==2.7
imageio==2.4.1
imageio-ffmpeg==0.4.1
importlib-metadata==1.6.0
importlib-resources==1.5.0
inflection==0.3.1
ipykernel==5.2.1
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.17.0
jieba3k==0.35.1
Jinja2==2.11.2
joblib==0.14.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyboard==0.13.5
kiwisolver==1.1.0
llvmlite==0.32.0
lxml==4.2.6
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.2.1
mistune==0.8.4
more-itertools==8.2.0
mouse==0.7.1
moviepy==1.0.2
msgpack==1.0.0
msgpack-numpy==0.4.5
nbconvert==5.6.1
nbformat==5.0.6
networkx==2.4
newspaper3k==0.2.8
nltk==3.3
notebook==6.0.3
numba==0.49.0
numpy==1.18.3
oauthlib==3.1.0
objectpath==0.6.1
opencv-python==4.1.2+contrib
opt-einsum==3.2.1
pandas==0.25.3
pandocfilters==1.4.2
parso==0.7.0
pathlib2==2.3.5
pefile==2019.4.18
pickleshare==0.7.5
Pillow==7.0.0
pocketsphinx==0.1.15
proglog==0.1.9
progressbar2==3.38.0
prometheus-client==0.7.1
promise==2.3
prompt-toolkit==3.0.5
protobuf==3.11.3
psutil==5.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.11
pycocotools==2.0
pycparser==2.20
pydot==1.4.1
pydotplus==2.0.2
pygame==1.9.6
Pygments==2.6.1
PyInstaller==3.6
pynput==1.6.8
PyOpenGL==3.1.5
pyparsing==2.4.6
pyperclip==1.8.0
PyQt5==5.14.1
PyQt5-sip==12.7.1
pyrsistent==0.16.0
PySocks==1.7.1
python-dateutil==2.8.1
python-utils==2.4.0
pytz==2019.3
PyWavelets==1.1.1
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.3
pyzmq==19.0.0
qtconsole==4.7.3
QtPy==1.9.0
Quandl==3.5.0
requests==2.23.0
requests-file==1.4.3
requests-oauthlib==1.3.0
rsa==4.0
scikit-image==0.14.5
scikit-learn==0.20.4
scipy==1.4.1
seaborn==0.10.0
Send2Trash==1.5.0
six==1.14.0
sklearn==0.0
slidingwindow==0.0.13
sounddevice==0.3.14
soupsieve==1.9.5
SpeechRecognition==3.8.1
tabulate==0.8.7
tb-nightly==2.2.0a20200130
tensorboard==2.1.1
tensorflow==2.1.0
tensorflow-datasets==2.0.0
tensorflow-docs==0.0.0
tensorflow-estimator==2.1.0
tensorflow-gpu==2.1.0
tensorflow-gpu-estimator==2.1.0
tensorflow-hub==0.7.0
tensorflow-metadata==0.21.1
tensorlayer==1.11.1
tensorpack==0.10.1
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
tf-estimator-nightly==2.1.0.dev2020012309
tf-nightly==2.2.0.dev20200130
tf-slim==1.0
tfds-nightly==2.0.0.dev202001310105
tinysegmenter==0.3
tldextract==2.2.2
tornado==6.0.4
tqdm==4.28.1
traitlets==4.3.3
tweepy==3.8.0
urllib3==1.24.3
virtualenv==20.0.21
Wave==0.0.2
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==1.0.1
wget==3.2
whichcraft==0.6.1
widgetsnbextension==3.5.1
wrapt==1.12.1
zipp==3.1.0
